/* Estilo DEL HEAD NACIONAL */
.header-container {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #e5e7eb;
    /* gray-200 */
}

.header-content {
    max-width: 112rem;
    /* max-w-7xl */
    margin: 0 auto;
    padding-left: 1rem;
    /* px-4 */
    padding-right: 1rem;
    /* px-4 */
}

@media (min-width: 640px) {
    .header-content {
        padding-left: 1.5rem;
        /* sm:px-6 */
        padding-right: 1.5rem;
        /* sm:px-6 */
    }
}

@media (min-width: 1024px) {
    .header-content {
        padding-left: 2rem;
        /* lg:px-8 */
        padding-right: 2rem;
        /* lg:px-8 */
    }
}

.header-padding {
    padding-top: 1.5rem;
    /* py-6 */
    padding-bottom: 1.5rem;
    /* py-6 */
}

.header-title {
    font-size: 1.875rem;
    /* text-3xl */
    font-weight: bold;
    color: #1f2937;
    /* text-gray-900 */
}

/* ////////////////////////////////////////// */

/* Estilo base para el contenedor de noticias */
.news-item {
    border: 1px solid #e5e7eb;
    /* gris claro */
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    margin-left: 20px; /* Mover también las noticias a la derecha */

}

.news-item:hover {
    transform: scale(1.02);
}

/* Estilo para el título de la noticia */
.news-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1f2937;
    /* gris oscuro */
    margin-bottom: 8px;
}

/* Estilo para la fecha de la noticia */
.news-date {
    font-size: 0.875rem;
    color: #6b7280;
    /* gris */
    margin-bottom: 12px;
}

/* Estilo para la imagen de la noticia */
.news-image {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
}

/* Estilo para el video de la noticia */
.news-video {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    margin-bottom: 12px;
}
/*///////////////////////////////////////*/
/*paginado*/
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-button {
    border: none;
    background-color: #f1f1f1;
    padding: 10px 15px;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.page-button:hover {
    background-color: #ddd;
}

.page-button.active {
    background-color: #007bff;
    color: white;
}

.first-last-button {
    border-radius: 50%;
    padding: 10px 15px;
}

.page-button:disabled {
    cursor: not-allowed;
    background-color: #e9ecef;
}

@media screen and (max-width: 600px) {
    .page-button {
        padding: 8px 12px;
    }

    .first-last-button {
        padding: 8px 15px;
    }
}

/*///////////////////////////////////////*/
/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
    .news-item {
        padding: 12px;
    }

    .news-title {
        font-size: 1.25rem;
    }

    .news-date {
        font-size: 0.75rem;
    }

    .news-video {
        height: 200px;
    }

    .news-image {
        max-height: 300px;
    }
}


