/* Estilo DEL HEAD NACIONAL */
.header-container {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #e5e7eb;
    /* gray-200 */
}

.header-content {
    max-width: 112rem;
    /* max-w-7xl */
    margin: 0 auto;
    padding-left: 1rem;
    /* px-4 */
    padding-right: 1rem;
    /* px-4 */
}

@media (min-width: 640px) {
    .header-content {
        padding-left: 1.5rem;
        /* sm:px-6 */
        padding-right: 1.5rem;
        /* sm:px-6 */
    }
}

@media (min-width: 1024px) {
    .header-content {
        padding-left: 2rem;
        /* lg:px-8 */
        padding-right: 2rem;
        /* lg:px-8 */
    }
}

.header-padding {
    padding-top: 1.5rem;
    /* py-6 */
    padding-bottom: 1.5rem;
    /* py-6 */
}

.header-title {
    font-size: 1.875rem;
    /* text-3xl */
    font-weight: bold;
    color: #1f2937;
    /* text-gray-900 */
}

/* ////////////////////////////////////////// */
/* noticia responsiva */
.news-card {
    width: 60%;
    margin-left: 20px; /* Ajustar margen a la izquierda */
  }
  
  .news-card .card-title,
  .news-card .card-text {
    text-align: justify; /* Justificar texto */
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .news-card {
      width: 90%; /* Aumentar el ancho en pantallas más pequeñas */
      margin-left: auto; /* Centrar el contenedor */
      margin-right: auto; /* Centrar el contenedor */
    }
  }
  
  @media (max-width: 576px) {
    .news-card {
      width: 100%; /* Ocupa todo el ancho en dispositivos muy pequeños */
      margin-left: 0; /* Sin margen en dispositivos muy pequeños */
    }
  
    .news-card .card-title {
      font-size: 1.2rem; /* Ajustar tamaño de fuente para el título */
    }
  
    .news-card .card-text {
      font-size: 1rem; /* Ajustar tamaño de fuente para la descripción */
    }
  }
  
/*paginado*/
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/*///////////////////////////////////////*/
/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
    .news-item {
        padding: 12px;
    }

    .news-title {
        font-size: 1.25rem;
    }

    .news-date {
        font-size: 0.75rem;
    }

    .news-video {
        height: 200px;
    }

    .news-image {
        max-height: 300px;
    }
}


